.formContainer {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // @import $box-shadows;

    div {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .alerte {
        position: absolute;
        top: 25px;
        right:10px;
        color: red;
    }

    form {
        // background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        max-width: 500px;
        padding: 1em;
        margin: 2em auto;
        line-height: 1.5em;

        input, textarea {
            padding: .5em;
        }
    }

    .img__PlaceHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 5px;
        width: 300px;
        max-width: 300px;
        height: 200px;
        overflow: hidden;
        text-align: center;
    }
    img {
        object-fit: scale-down;
        width: 100%;
        height: 200px;
    }
}

#fileContainer {
    display: inline-block;
    & input {
        position: absolute;
        width: 50px;
        opacity: 0;
    }
}

#forceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: yellow;

    input[type="range"] {
        width: 100%;
    }

      

    span {
        width: 30px;
        height: 20px;
        line-height: 1em;
        margin-left: 1em;

        text-align: center;
       border-radius: 3px;
        border: 2px solid black;
    }
}



