.navContainer {

    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    padding: 0.5em 0;


    img {
        height: 50px;
    }

    &__brand {
        min-width: 290px;
        display: flex;

        &-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: .2em;
        }
    }
    nav {
        display: flex;
        scrollbar-gutter: stable;
        justify-content: center;
        align-items: center;
        margin-left: 10vh;
        float: right;

        img {
            width: 40px;
        }

        a {
            margin-right: 1em;
            color: black;
            text-decoration: none;
            &:hover {
                color: blue;
                text-decoration: underline;
            }
        }
    }
}
