.cardContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    padding: 0em 1em;
    border: 1px solid $orange-flame;
    
    
    &:hover{
        transform: scale(1.02);
        @include box-shadows;
    }

    img {
        
        width: 250px;
        height: 100px;
        object-fit:contain;
        object-position: center;
        overflow: hidden;
        margin: .2em 1em;
    }
    
}
