.saucesContainer {
    max-width: 1024px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    padding: 1em .5em;
    height: 100%;
    flex-wrap: wrap;
    gap:1em;

    @include adaptive-sm {
        margin-top: 1em;
        gap:1em;
    }
}

